.additional-item__title {
  margin: 0;
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-item__content {
  margin: 15px 0;
}

.additional-item__btn-purchase {
  .default-button();
}
