.before-after {
  text-align: center;
}

.before-after__image {
  .margin-padding-0();

  margin-bottom: 35px;
}

.before-after__selector {
  .margin-padding-0();

  display: inline-block;
  padding: 35px 0;
}
