.credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.credits__text {
  color: @dark-gray;
  text-decoration: none;
}

.credits__logo-image {
  filter: grayscale(100%);
}
