.example {
  .margin-padding-0();

  display: flex;
  flex-direction: column;
}

.example__title {
  .margin-padding-0();
  .font-oswald (36px; 36px; @black);

  padding: 30px 20px 15px 20px;
  margin: 0 -20px;

  background: @light-gray;
}

.example__wrapper {
  margin: 0 -20px;
  padding: 20px 20px 0 20px;

  background: @light-gray;
}

.example__description {
  .margin-padding-0();
  .font-arial (14px; 18px; @dark-gray);

  margin-bottom: 25px;
}

.example__numbers-list {
  .margin-padding-0();

  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin: 0 -15px 35px -15px;

  list-style-type: none;
}

.example__numbers-item {
  flex-basis: 125px;
  margin: 0 15px;
}

.example__expenses {
  .font-oswald (14px; 14px; @black; uppercase);

  text-align: center;
}

.example__compare {
  margin: 0 -20px 0 -20px;
  padding: 25px 0 0 0;

  background: @light-gray;
}

@media (min-width: @medium-screen) {
  .example__title {
    margin: 0 0 45px 0;
    padding: 0;

    font-size: 60px;
    line-height: 60px;

    background: none;
  }

  .example__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding-bottom: 85px;

    background: none;
  }

  .example__description {
    flex-basis: 100%;
    margin: 0 0 50px 0;

    font-size: 16px;
    line-height: 24px;
  }

  .example__numbers-list {
    flex-basis: 390px;
    flex-grow: 1;
    margin: 0 -20px;
  }

  .example__numbers-item {
    flex-basis: 170px;
    flex-grow: 1;
    margin: 0 20px;
  }

  .example__expenses {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-basis: 320px;
    flex-grow: 1;
    margin: 0 0 0 0;

    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }

  .example__expenses br {
    display: inline;
  }

  .example__compare {
    margin: 0 -30px 0 -30px;
    padding: 0 0 0 0;

    background: @light-gray;
  }
}

@media (min-width: @large-screen) {
  .example {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .example__title {
    flex-basis: 100%;
    padding: 0;
    margin: 0 0 75px 0;
  }

  .example__wrapper {
    flex-basis: 53%;
    align-content: flex-start;
    padding: 75px 0 0 110px;
    margin: 0 0 0 -110px;

    background: @light-gray;
  }

  .example__description {
    margin: 0 30px 65px 0;
    padding: 0;
  }

  .example__numbers-list {
    justify-content: flex-start;
    margin: 0 20px 55px 0;
  }

  .example__numbers-item {
    flex-basis: 165px;
    flex-grow: 0;
    margin: 0 40px 0 0;
  }

  .example__expenses {
    flex-direction: row;
    flex-basis: 100%;
    margin: 0 0 75px 0;
  }

  .example__expenses-name {
    flex-basis: 205px;

    text-align: left;
  }

  .example__expenses-value {
    flex-basis: 160px;

    text-align: center;
  }

  .example__compare {
    flex-basis: 47%;
    margin: 0 -110px 0 0;
  }
}
