.example {
  .margin-padding-0();

  background: @light-gray;
  padding: 20px;
}

.example__title {
  .margin-padding-0();
  .font-oswald (36px; 36px; @black);

  margin: 10px 0 15px 0;
}

.example__description {
  .margin-padding-0();

  margin: 15px 15px 25px 0;

  color: @dark-gray;
  font-size: 14px;
  line-height: 18px;
}

.example__numbers-list {
  .margin-padding-0();

  display: flex;
  justify-content: space-between;

  list-style-type: none;
}

.example__numbers-item {
  .margin-padding-0();

  min-width: 125px;
}

.example__expenses {
  .margin-padding-0();
  .font-oswald (14px; 14px; @black; uppercase);

  margin: 40px 0;

  text-align: center;
}

.example__compare {
  .margin-padding-0();

  margin: 0 -20px;
}
