.goal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 20px 20px 20px;

  background: @light-gray;
}

.goal__title {
  .margin-padding-0();
  .font-oswald (24px; 50px; @black; uppercase);

  display: flex;
  margin-bottom: 20px;

  vertical-align: middle;

  &::before {
    display: block;
    height: 55px;
    width: 67px;

    content: "";
  }

  .goal--slim &::before {
    margin: 0 10px 0 -8px;

    background:
      url("../img/icon-cat-slim.svg") center top/35px 49px no-repeat,
      radial-gradient(circle, @leaf, @leaf 59%, transparent 59%);
  }

  .goal--pro &::before {
    height: 50px;
    margin: 0 10px 2px -8px;
    // Для того, чтобы отцентрировать изображение пантеры, которое очень
    // разбалансировано на макете.

    background:
      url("../img/icon-cat-pro.svg") center center/67px 28px no-repeat,
      radial-gradient(circle, @leaf, @leaf 60%, transparent 60%);
  }
}

.goal__description {
  .margin-padding-0();

  flex-grow: 1;
  padding-bottom: 20px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 18px;
  color: @dark-gray;

  border-bottom: @gray 1px solid;
}

.goal__btn {
  .font-oswald (16px; 16px; @black; uppercase);

  display: flex;

  text-decoration: none;

  &::after {
    width: 25px;
    height: 16px;
    margin-left: 15px;

    vertical-align: middle;

    background: url("../img/icon-right-arrow-long.svg") no-repeat left center;

    content: "";
  }
}

@media (min-width: @tablet-width) {
  .goal {
    position: relative;

    display: block;
    padding: 80px 0 70px 55px;

    &::before {
      display: block;
      float: right;
      height: 222px;
      width: 268px;

      content: "";
    }

    &--slim::before {
      margin: 5px 25px 0 10px;

      background:
        url("../img/icon-cat-slim.svg") center top/141px 194px no-repeat,
        radial-gradient(circle, @leaf, @leaf 58%, transparent 58%) center bottom;
    }

    &--pro::before {
      margin: 5px 25px 0 15px;

      background:
        url("../img/icon-cat-pro.svg") center center/268px 113px no-repeat,
        radial-gradient(circle, @leaf, @leaf 58%, transparent 58%) center bottom;
    }
  }

  .goal__title {
    margin-bottom: 25px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      display: none;
    }
  }

  .goal__description {
    padding: 0;
    margin-bottom: 55px;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .goal__btn {
    position: absolute;
    bottom: 60px;

    font-size: 20px;
    line-height: 20px;

    &::after {
      height: 20px;
      margin-left: 25px;
    }
  }
}

@media (min-width: @desktop-width) {
  .goal {
    padding: 45px 50px 60px 50px;
    min-height: 375px;

    &::before {
      display: none;
    }
  }

  .goal__title {
    height: 100px;
    margin-bottom: 45px;

    line-height: 100px;
    font-size: 36px;
    vertical-align: middle;

    .goal &::before {
      display: block;
      height: 105px;
      width: 134px;
    }

    .goal--slim &::before {
      margin: 0 45px 0 -15px;

      background:
        url("../img/icon-cat-slim.svg") center top/71px 97px no-repeat,
        radial-gradient(circle, @leaf, @leaf 60%, transparent 60%);
    }

    .goal--pro &::before {
      margin: 0 45px 0 -15px;
      // Для того, чтобы отцентрировать изображение пантеры, которое очень
      // разбалансировано на макете.

      background:
        url("../img/icon-cat-pro.svg") center center/134px 57px no-repeat,
        radial-gradient(circle, @leaf, @leaf 60%, transparent 60%);
    }
  }

  .goal__description {
    margin-bottom: 30px;
  }

  .goal__btn {
    position: static;

    &::after {
      margin-left: 25px;
    }
  }

}
