.goals__list {
  .margin-padding-0();

  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 0 20px;

  list-style-type: none;
}

.goals__list-item {
  .margin-padding-0();

  flex-basis: 280px;
  margin: 0 20px 20px 0;
  padding: 20px;
}
