.how-it-works {
  .margin-padding-0();

  margin-bottom: 20px;
}

.how-it-works__title {
  .margin-padding-0();
  .font-oswald (36px; 36px; @black);

  margin: 0 0 40px 0;
}

.how-it-works__list {
  .margin-padding-0();

  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.how-it-works__item {
  .margin-padding-0();

  display: flex;
  flex-basis: 100%;
  margin: 0 0 20px 0;
  align-items: center;

  color: @dark-gray;
  font-size: 14px;
  line-height: 18px;

  &::before {
    .margin-padding-0();

    min-width: 60px;
    height: 60px;
    margin: 0 20px 0 0;

    content: "";
  }

  &--content::before {
    background: @leaf url("../img/advantage-leaf@1x.png") no-repeat center center;
  }

  &--form::before {
    background: @leaf url("../img/advantage-powder@1x.png") no-repeat center center;
  }

  &--howto::before {
    background: @leaf url("../img/advantage-dining@1x.png") no-repeat center center;
  }

  &--timing::before {
    background: @leaf url("../img/advantage-clock@1x.png") no-repeat center center;
  }
}

@media (max-width: @medium-screen - 1) {
  .how-it-works__item br {
    display: none;
  }
}

@media (min-width: @medium-screen) {
  .how-it-works {
    margin-bottom: 40px;
  }

  .how-it-works__title {
    margin: 0 0 45px 0;

    font-size: 60px;
    line-height: 60px;
  }

  .how-it-works__list {
    margin: 0 -30px 0 -30px;
    border-bottom: @light-gray 1px solid;
  }

  .how-it-works__item {
    position: relative;

    flex-basis: 50%;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 230px;
    margin: 30px 0 55px 0;
    padding-left: 30px;

    font-size: 16px;
    line-height: 24px;

    &::before {
      min-width: 80px;
      height: 80px;
      margin-bottom: 35px;
    }

    &::after {
      position: absolute;
      top: -38px;
      left: 145px;
      z-index: -1;

      .font-oswald (281px; 281px; @light-gray);
    }

    &--content::after {
      content: "1";
    }

    &--form::after {
      content: "2";
    }

    &--howto::after {
      content: "3";
    }

    &--timing::after {
      content: "4";
    }
  }
}

@media (min-width: @large-screen) {
  .how-it-works {
    margin-bottom: 80px;
  }

  .how-it-works__title {
    margin: 0 0 70px 0;
  }

  .how-it-works__list {
    flex-wrap: nowrap;
    margin: 0 -45px 0 -40px;
    padding: 0;
    border-bottom: none;
  }

  .how-it-works__item {
    min-width: 240px;
    margin: 0 45px 0 40px;
    padding: 0;

    &::after {
      left: 120px;
    }
  }
}
