.number-widget {
  position: relative;

  padding: 17px 0 18px 0;

  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  border: @gray 1px solid;
  border-radius: 3px;
}

.number-widget__label {
  position: absolute;
  bottom: -15px;
  left: 19px;
  right: 19px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: none;
  text-align: center;
  color: @dark-gray;

  background-color: @light-gray;
}
