.nutritional {
  .margin-padding-0();

  display: flex;
  flex-wrap: wrap;
}

.nutritional__name,
.nutritional__value {
  .margin-padding-0();

  flex-basis: 50%;

  color: @dark-gray;
  font-size: 12px;
  line-height: 16px;
}

.nutritional__value {
  .margin-padding-0();

  text-align: right;
}
