.nutritional {
  display: flex;
  flex-wrap: wrap;
}

.nutritional__name,
.nutritional__value {
  flex-basis: 50%;
  margin: 0;
  padding: 0;

  color: @dark-gray;
  font-size: 12px;
  line-height: 16px;
}

.nutritional__value {
  text-align: right;
}
