.page-content {
  width: 320px;
}

.page-content__title {
  .margin-padding-0();
  .font-oswald (36px; 36px; @black; uppercase);

  margin: 30px 20px;
}

.page-content__product-list {
  .margin-padding-0();

  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.page-content__product-item {
  .margin-padding-0();

  flex-basis: 320px;
}

.page-content__subtitle {
  .margin-padding-0();
  .font-oswald (24px; 24px; @black);

  padding: 0 25px 0 20px;
  margin: 30px 0;

  background: @white;
}

.page-content__additionals-list {
  .margin-padding-0();

  list-style-type: none;
}

.page-content__additionals-item {
  .margin-padding-0();

  margin: 0 20px;
  padding: 15px 0;

  border-top: @gray 1px solid;
}

.page-content__additionals-item:last-child {
  border-bottom: @gray 1px solid;
}

.page-content__promoion {
  .margin-padding-0();

  margin: 35px 20px;
}

.page-content__lead {
  .margin-padding-0();
  .font-oswald (14px; 18px; @black; uppercase);

  margin: 0 20px 40px 20px;
}
