.page-footer {
  .margin-padding-0();

  width: 320px;
}

.page-footer__logo {
  .margin-padding-0();

  display: inline-block;

  margin-bottom: 30px;
}

.page-footer__footer {
  .margin-padding-0();

  padding: 40px 20px 20px 20px;

  text-align: center;

  background: @light-gray;
}

.page-footer__contacts {
  .margin-padding-0();

  background-color: @light-gray;

  &--light {
    background-color: @white;
  }
}

.page-footer__social {
  .margin-padding-0();

  margin-bottom: 20px;

  border-top: @gray 1px solid;
  border-bottom: @gray 1px solid;
}
