.page-header {
  position: relative;

  display: flex;
  width: 320px;
  justify-content: space-between;
  align-items: center;

  border-bottom: @light-gray 1px solid;
}

.page-header__logo {
  margin-left: 20px;
}
