.page-content {
  min-width: @small-screen;
  width: auto;
  padding: 30px @small-indent 0 @small-indent;
}

.page-content__title {
  .margin-padding-0();
  .font-oswald (36px; 36px; @black);

  margin: 0 0 40px 0;
}

.page-content__subtitle {
  margin: 15px -(@small-indent) 30px -(@small-indent);

  border-top: @leaf 3px solid;
}

.page-content__subtitle-wrapper {
  margin: -15px @small-indent 0 0;
}

.page-content__subtitle-text {
  .margin-padding-0();
  .font-oswald (24px; 24px; @black);

  display: inline-block;
  padding: 0 @small-indent;

  background: @white;
}

@media (min-width: @medium-screen) {
  .page-content {
    width: auto;
    padding: 60px @medium-indent 0 @medium-indent;
  }

  .page-content__title {
    margin: 0 0 55px 0;

    font-size: 60px;
    line-height: 60px;
  }

  .page-content__subtitle {
    margin: 25px -(@medium-indent) 80px -(@medium-indent);
  }

  .page-content__subtitle-wrapper {
    margin: -25px @medium-indent 0 @medium-indent;
  }

  .page-content__subtitle-text {
    padding: 0 40px;

    font-size: 36px;
    line-height: 36px;
  }

  .page-content__subtitle-text br {
    display: none;
  }
}

@media (min-width: @large-screen) {
  .page-content {
    margin: 0 auto;
    padding: 75px 0 0 0;
  }

  .page-content__title {
    width: (@large-screen - @large-indent*2);
    margin: 0 auto 55px auto;
  }

  .page-content__subtitle {
    margin: 25px 0 80px 0;
  }

  .page-content__subtitle-wrapper {
    position: relative;

    width: (@large-screen - @large-indent*2);
    margin: -25px auto 0 auto;

    &::before {
      position: absolute;
      left: -(@large-indent);

      width: @large-indent;
      height: 36px;

      background-color: @white;

      content: "";
    }
  }

  .page-content__subtitle-text {
    padding: 0 @large-indent 0 0;
  }
}

@media (min-width: @xlarge-screen) {
  .page-content {
    max-width: @max-screen;
    width: auto;
    margin: 0 auto;
    padding: 75px @xlarge-indent 0 @xlarge-indent;
  }

  .page-content__title {
    width: auto;
    margin: 0 0 55px 0;
  }

  .page-content__subtitle {
    margin: 25px -(@xlarge-indent) 80px -(@xlarge-indent);
  }

  .page-content__subtitle-wrapper {
    width: auto;
    margin: -25px 70px 0 70px;

    &::before {
      display: none;
    }
  }

  .page-content__subtitle-text {
    padding: 0 @large-indent;
  }
}
