.page-footer {
  width: 320px;
}

.page-footer__footer {
  padding: 40px 20px 20px 20px;

  text-align: center;

  background: @light-gray;
}

.page-footer__logo {
}

.page-footer__social {
  margin-top: 30px;
  margin-bottom: 20px;

  border-top: @gray 1px solid;
  border-bottom: @gray 1px solid;
}
