.product-card {
  position: relative;

  padding: 25px 20px;
  border-top: @gray 1px solid;
  border-left: @gray 1px solid;
  border-right: @gray 1px solid;
}

.product-card__image {
  position: absolute;
  margin-top: -25px;
}

.product-card__title {
  margin: 0 0 0 160px;
  width: 100px;

  .font-oswald (16px; 20px; @black; uppercase);
}

.product-card__content {
  margin-top: 20px;
  margin-left: 160px;
}

.product-card__btn-purchase {
  .default-button();
}


