.promotion {
  .margin-padding-0();

  position: relative;

  height: 289px;
  overflow: hidden;

  background: @leaf url("../img/gift-photo-mobile@1x.jpg") no-repeat center center;
}

.promotion__icon {
  .margin-padding-0();

  display: block;
  width: 56px;
  height: 61px;
  margin: 65px auto 0 auto;
}

.promotion__icon path {
  fill: @white;
}

.promoion__text {
  .margin-padding-0();

  position: absolute;
  bottom: 40px;
  left: 60px;
  right: 60px;

  text-align: center;
  color: @white;
}
