.promo {
  position: relative;

  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.promo__portrait {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  height: 305px;

  background: @leaf url("../img/index-background-mobile@1x.jpg") no-repeat center center;
}

.promo__title {
  margin: 0 auto;
  padding: 0;

  .font-oswald (36px; 36px; @white);
  text-align: center;
}

.promo__lead {
  margin: 20px auto 0 auto;

  .font-oswald (14px; 14px; @white; uppercase);
  text-align: center;
}

.promo__product {
  display: block;
  margin: 30px auto 0 auto;

  text-align: center;
}

.promo__btn-select {
  .default-button();
}
