.promotion {
  position: relative;

  height: 289px;
  overflow: hidden;

  background: @leaf url("../img/gift-photo-mobile@1x.jpg") no-repeat center center;
}

.promotion::before {
  display: block;
  width: 56px;
  height: 61px;
  margin: 65px auto 0 auto;

  content: url("../img/icon-gift.svg");
}

.promoion__text {
  position: absolute;
  bottom: 40px;
  left: 60px;
  right: 60px;

  text-align: center;
  color: @white;
}
