.show-more {
  border: @gray 1px solid;
  padding: 25px 20px;

  text-align: center;
}

.show-more::before {
  display: block;
  width: 30px;
  height: 30px;
  margin: 25px auto;

  content: url("../img/icon-plus.svg");
}

.show-more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__description {
  font-size: 12px;
  line-height: 16px;
  color: @dark-gray;
}

.show-more__btn-show {
  display: block;
  height: 40px;
  margin-top: 5px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align:center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 40px;

  background-color: @light-gray;
  color: @dark-gray;

  cursor: pointer;
}
