.social {
  display: flex;
  padding: 0;
  justify-content: center;

  list-style-type: none;
}

.social__item {
  margin: 25px 20px;

  font-size: 0;
}

.social__link {
  display: block;
  width: 20px;
  height: 20px;

  &--vkontakte {
    background: url("../img/icon-vk.svg") no-repeat center center;
  }

  &--facebook {
    background: url("../img/icon-fb.svg") no-repeat center center;
  }

  &--instagram {
    background: url("../img/icon-insta.svg") no-repeat center center;
  }
}
