@tablet-width: 768px;
@desktop-width: 1300px;
@desktop-width-max: 1680px;

@leaf: #68b738;
@leaf-hover: #5eaa2f;
@leaf-active: #5eaa2f;
@white: #ffffff;
@white-30: rgba(255, 255, 255, 0.3);
@light-gray: #f2f2f2;
@light-gray2: #eaeaea;
@dark-gray: #444444;
@dark-gray2: #666666;
@gray: #cdcdcd;
@black: #111111;
@black2: #222222;
