@small-screen: 320px;
@medium-screen: 768px;
@large-screen: 1300px;
@xlarge-screen: 1440px;
@max-screen: 1920px;

@small-indent: 20px;
@medium-indent: 30px;
@large-indent: 40px;
@xlarge-indent: 110px;

@leaf: #68b738;
@leaf-hover: #5eaa2f;
@leaf-active: #5eaa2f;
@white: #ffffff;
@white-30: rgba(255, 255, 255, 0.3);
@light-gray: #f2f2f2;
@light-gray2: #eaeaea;
@dark-gray: #444444;
@dark-gray2: #666666;
@gray: #cdcdcd;
@black: #111111;
@black2: #222222;
@pink: #ff8282;
